.swiper-pagination-bullet {
  background: #fff !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Use rgba to set the black overlay with transparency */
  pointer-events: none; /* Allow clicks to pass through the overlay */
  z-index: 1; /* Adjust the z-index to control the overlay's stacking order */
  mix-blend-mode: multiply; /* Apply the multiply blend mode for the overlay */
}

